<div class="col mb-4">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title">{{ service.title }}</h5>
      <p class="card-text">{{ service.description }}</p>
    </div>
    <div class="card-footer">
      <a href="{{ service.link }}" class="btn btn-primary">Learn More</a>
    </div>
  </div>
</div>
